#define WORLD_CONQUEST_II_INVEST_MP_MOD

{~add-ons/WCII_Invest/events}
{~add-ons/World_Conquest_II/config.cfg}

{~add-ons/World_Conquest_II/utils}
{~add-ons/WCII_Invest/scenario}
{~add-ons/World_Conquest_II/scenarios}
{~add-ons/World_Conquest_II/terrain-graphics}

#define WORLD_CONQUEST_II_INVEST_TEK_SCENARIO_CAMPAIGN
[options]
    [checkbox]
        id="wc2_config_enable_pya"
        default=yes
        name="Enable advancement mod"
        description="enables the buildin mod to preselect what unit will advance into, disable this to be compatible with other mods that do the same thing"
    [/checkbox]
    [checkbox]
        id="wc2_config_enable_unitmarker"
        default=yes
        name="Enable unitmarker"
        description="enables the buildin mod to mark units, disable this to be compatible with other mods that do the same thing"
    [/checkbox]
[/options]

[load_resource]
    id = "wc2_era_res"
[/load_resource]
[load_resource]
    id = "wc2_invest_MP_scenario_res"
[/load_resource]
[event]
    name=start
    [inspect][/inspect]
	{WORLD_CONQUEST_II_INVEST_SET_PLAYER_VARS}
    [inspect][/inspect]
    {WORLD_CONQUEST_TEK_SCENARIO_CHOSE_DIFFICULTY}
    [inspect][/inspect]
    {WORLD_CONQUEST_TEK_RECRUIT_START_UNITS}
    [inspect][/inspect]
    {WORLD_CONQUEST_TEK_TRAINING_PLAYERS_LEVELS}
    [inspect][/inspect]
[/event]
#enddef

{WORLD_CONQUEST_II_INVEST_CAMPAIGN_RESOURCE}
    
{WORLD_CONQUEST_II_ERA}
{WORLD_CONQUEST_II_ERA_RESOURCE}

{WORLD_CONQUEST_TEK_MAP_CUSTOM_TERRAIN_MODIFICATION}
{WORLD_CONQUEST_II_INVEST_CAMPAIGN_RESOURCE}
[modification]
	id=WCII_invest_add_on
	name= _ "WCII invest"
    type=mp
	description= _ "
    Bonus for player like in World Conquest II
    => Artefacts
    => Traning (new Abilities for recruits)
    => Heroes (unit bosted)
    => Gold
    "

    
    {WORLD_CONQUEST_II_INVEST_TEK_SCENARIO_CAMPAIGN}
[/modification]
#enddef