#{~add-ons/WCII_Invest/compatibility/ressources/strings}
{campaigns/World_Conquest/resources/strings}
{~add-ons/WCII_Invest/compatibility/era/campaign}
{~add-ons/World_Conquest_II/resources/training}

{~add-ons/WCII_Invest/events}
{~add-ons/WCII_Invest/advancements}
{~add-ons/World_Conquest_II/config.cfg}

{~add-ons/World_Conquest_II/utils}
{~add-ons/WCII_Invest/scenario}
{~add-ons/World_Conquest_II/scenarios}
{~add-ons/World_Conquest_II/era}

#define WORLD_CONQUEST_II_INVEST_SP_TEK_SCENARIO_CAMPAIGN
[options]
    [checkbox]
        id="wc2_config_enable_pya"
        default=yes
        name="Enable advancement mod"
        description="enables the buildin mod to preselect what unit will advance into, disable this to be compatible with other mods that do the same thing"
    [/checkbox]
    [checkbox]
        id="wc2_config_enable_unitmarker"
        default=yes
        name="Enable unitmarker"
        description="enables the buildin mod to mark units, disable this to be compatible with other mods that do the same thing"
    [/checkbox]
[/options]

[load_resource]
    id = "wc2_era_res"
[/load_resource]
[load_resource]
    id = "wc2_invest_SP_scenario_res"
[/load_resource]
[event]
    name=start
	{WORLD_CONQUEST_II_INVEST_SET_PLAYER_VARS}
    {WCT_DIFFICULTY PEASANT 6 2 2 10 yes 25}
    {WORLD_CONQUEST_II_INVEST_PLAYER_BONUS}
[/event]
#enddef

#define WORLD_CONQUEST_II_INVEST_SP_MOD

{WORLD_CONQUEST_II_INVEST_CAMPAIGN_SP_RESOURCE}
    
{WORLD_CONQUEST_II_ERA}
{WORLD_CONQUEST_II_ERA_RESOURCE}

[modification]
	id=WCII_invest_add_on
	name= _ "WCII invest SP player bonus"
    type=sp
	description= _ "
    Bonus for player in World Conquest II (only training)
    => Traning (new Abilities for recruits)
    "
    
    [world_conquest_data][/world_conquest_data]
    {WORLD_CONQUEST_II_INVEST_SP_TEK_SCENARIO_CAMPAIGN}
[/modification]
#enddef